[submodule "plugged/vim-fugitive"]
	path = plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugged/vim-ingo-library"]
	path = plugged/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library.git
[submodule "plugged/vim-mark"]
	path = plugged/vim-mark
	url = https://github.com/inkarkat/vim-mark.git
[submodule "plugged/CCTree"]
	path = plugged/CCTree
	url = https://github.com/hari-rangarajan/CCTree.git
[submodule "plugged/Zenburn"]
	path = plugged/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "plugged/nerdtree"]
	path = plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugged/lightline.vim"]
	path = plugged/lightline.vim
	url = https://github.com/shahar3000/lightline.vim.git
[submodule "plugged/vim-syntax-extra"]
	path = plugged/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "plugged/fzf"]
	path = plugged/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "plugged/fzf.vim"]
	path = plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "plugged/coc.nvim"]
	path = plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
